<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <queries>
        <provider android:authorities="net.discdd.provider.datastoreprovider" />
    </queries>

    <application
        android:supportsRtl="true">
    </application>
</manifest>
